# Database configuration
DB_DRIVER=pgsql
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=movim
DB_USERNAME=movim
DB_PASSWORD=movim

# Daemon configuration
DAEMON_URL=https://public-movim.url/ # Public URL of your Movim instance
DAEMON_PORT=8080 # Port on which the daemon will listen
DAEMON_INTERFACE=127.0.0.1 # Interface on which the daemon will listen, must be an IP
DAEMON_DEBUG=false
DAEMON_VERBOSE=false

# OAuth / trusted proxy authentication
OAUTH_ENABLED=false
OAUTH_AUTO_LOGIN=true
OAUTH_ALLOW_PASSWORD_FALLBACK=true
OAUTH_TRUSTED_HEADER=X-Remote-User
OAUTH_APACHE_REMOTE_USER_FALLBACK=true
OAUTH_TRUSTED_PROXY_IPS=
OAUTH_XMPP_DOMAIN=
OAUTH_ISSUER=http
OAUTH_TOKEN_TTL=300
OAUTH_TOKEN_SCOPE=sasl_auth
OAUTH_EJABBERDCTL_PATH=/usr/sbin/ejabberdctl
OAUTH_EJABBERDCTL_TIMEOUT=5
OAUTH_HTTP_URL=
OAUTH_HTTP_TIMEOUT=5
OAUTH_HTTP_AUTHORIZATION=
OAUTH_HTTP_JID_BODY_FIELD=jid

# Backward-compatible aliases for older broker-based configs
OAUTH_BROKER_URL=
OAUTH_BROKER_TIMEOUT=5
OAUTH_BROKER_AUTHORIZATION=
OAUTH_BROKER_JID_BODY_FIELD=jid
